

ul {
	list-style-type: none;
	margin: 30px 0;
	}
	li {
	list-style-type: none;
	margin: 6px 0;
	}
.wkul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.wkli{
		padding-right: 40px;
	}

fieldset {
	float:left;
	margin:auto;
	border-radius: 15px;
	border: solid #596b75 2px;
	color: #1f628d;
	font-size: 20px;
	font-weight: bold;
	padding: 6px 8px 6px 8px;
}


	
	.leftpanel{
		/*height: 100%;*/
		width:100%;
		float:left;
		box-sizing: border-box;
		margin:0;
		border: solid #1f628d 1px;
	}
	.rightpanel{
		/*height: 100%;*/
		width:20%;
		float:right;
		box-sizing: border-box;
		margin:0;

		border: solid #1f628d 1px;
	}
	.centerpanel{
		width:100%;
		float:none;
		margin:auto;
		padding:5px;
		box-sizing: border-box;
		overflow-y: hidden;
		overflow-x: hidden;
		
		
		background-color: #FFFFFF;
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
		
	}
	.maincontainer{
		top:0;
		left:0;
		bottom:0;
		right:0;
		position: fixed;
		/*height:100%;*/
		width:100%;
		color: black;
		background-color: white;

		height:100vh;
		min-height:100%;
		max-height:100%;

		
	}
	.verticalpanel{
		float:left;
		height: 450px;
		max-width: 90%;
		width: fit-content;
		overflow-y: auto;
		overflow-x: visible;
		display: block;

	}
	.wikiindex{
		float:left;
		height: 450px;
		width: 12%;
		overflow-y: auto;
		overflow-x: visible;
		display: block;


	}
	.wikitext{
		float:left;
		height: 450px;
		width: 70%;
		
		overflow-y: auto;
		overflow-x: visible;
		display: block;
		position: fixed;
		padding-left: 2%;
		padding-right: 2%;
		text-align: justify;
		text-justify: inter-word;
	}
	.logpanel{
		width:20%;
		height:225px;
		max-height:30%;
		float:left;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	
	.scorepanel{
		width:20%;
		max-width: 30%;
		display:inline-block;
		height:25%;
		min-height:30%;
		box-sizing: border-box;
		padding: 0px 25px 0px 50px;
		text-align: right;
		
		overflow-y: hidden;
		overflow-x: hidden;
	}
	
	.detailpanel{
		width: 600px;
		max-width: 600Px;
		display:inline-block;
		height:250px;
		box-sizing: border-box;
		padding: 0px 25px 0px 25px;
		text-align: left;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	
	.tooltippanel{
		height: 125px;
		
		padding: 5px 15px 5px 15px;	
		overflow-y: hidden;
		overflow-x: hidden;
		clear:both;
		 box-sizing: border-box;
		 border-radius: 15px;
		border: solid #1f628d 2px;
	}
	
	
	.tabspanel{
		height: 550px;
		width: 100%;
		box-sizing: border-box;
		border-radius: 8px;
		border: solid #1f628d 2px;
		overflow: hidden;
	}
	
	.tab {
		overflow: hidden;
		background-color: #1f628d;

	}
	
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
		color: blanchedalmond;
	}

	.tab button:hover {
		background-color: #0d3f5e;
	}

	.tab button.active {
		background-color: #103247;
	}

	.tabcontent {
		display: none;
		padding: 6px 12px;
	}
	
	
	.skillpanel{
		width:400px;
		height:250px;
		float:left;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	.townpanel{
		width:100%;
		height:400px;
		min-height:25%;
		float:left;
		overflow-y: scroll;
		overflow-x: hidden;
		font-size: 12px;
		cursor: crosshair;
display:block;
	}
	.emobtn {
		background:none;
		border:none;
		margin:0;
		padding:0;
		}
		.emobtn:hover {
			transform: scale(1.5);
		}

	.wkbtn {
		background:none;
		border:none;
		text-decoration: underline;
		cursor: pointer;
		font-size: 18px;
	}

	.btn {
		background: #3498db;
		border-radius: 16px;
		text-shadow: 2px 2px 3px #666666;
		box-shadow: 1px 1px 3px #666666;
		color:blanchedalmond;
		font-size: 16px;
		padding: 7px 14px 7px 14px;
		border: solid #1f628d 2px;
		transition: all ease-in-out 0.2s;
		cursor: pointer;
		}

	.btnwin {
		background: #3498db;
		border-radius: 12px;
		text-shadow: 2px 2px 3px #666666;
		box-shadow: 1px 1px 3px #666666;

		font-size: 40px;
		padding: 5px 10px 5px 10px;
		border: solid #1f628d 2px;
		transition: all ease-in-out 0.2s;
		cursor: pointer;
		}
	.textbox {
		background: #3498db;
		border-radius: 16px;
		box-shadow: 1px 1px 3px #666666;
		font-size: 14px;
		padding: 7px 14px 7px 14px;
		border: solid #1f628d 2px;
		background-color: #FFFFFF;
		outline: none;
	}
	
	.townemojis{
		font-size : 12px;
	}
	.townemojis:hover {
		transform: scale(1.2);
	}
	.nicetext {
		

		font-size: 24px;
	}
	.scoretext {

		font-size: 20px;
	}
	
	.logtext {

		font-size: 16px;

	}
	.largertext {

		font-size: 26px;
		cursor: pointer;
		
	}
	
	.sillyoverlapingtext{
		font-size: 22px;
		letter-spacing: -20px;
	}
	strong {
	font-weight: bold;
	padding: 1px 2px 1px 2px;
	}


	mark{
	  position:relative;
	  background-color:transparent;
	}
	
	mark:before{
	  content:"";
	  z-index:-1;
	  left:-0.5em;
	  top:-0.1em;
	  border-width:2px;
	  border-style:solid;
	  border-color:red;
	  position:absolute;
	  border-right-color:transparent;
	  width:100%;
	  height:1em;
	  transform:rotate(2deg);
	  opacity:0.7;
	  border-radius:50%;
	  padding:0.1em 0.25em;
	}
	
	mark:after{
	  content:"";
	  z-index:-1;
	  left:-0.5em;
	  top:0.1em;
	  padding:0.1em 0.25em;
	  border-width:2px;
	  border-style:solid;
	  border-color:red;
	  border-left-color:transparent;
	  border-top-color:transparent;
	  position:absolute;
	  width:100%;
	  height:1em;
	  transform:rotate(-1deg);
	  opacity:0.7;
	  border-radius:50%;
	}
	
input[type="range"] {
width:200px;
}


	.popup {
		display: none;
		position: fixed;
		z-index: 2;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: rgba(200, 230, 225, 0.5);
		justify-content: center;
		align-items: center;
		text-align: center;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);

	}
	.popup-content {
		margin: 5% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 80%; /* Could be more or less, depending on screen size */
		background-color: inherit;
	}
	.mfpopup {
		display: none;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: rgba(200, 230, 225, 0.5);
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}
	
	
	
.glow {
text-align: center;
animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
from {
text-shadow: 0 0 2px #FFEBCD, 0 0 4px #FFFFE0, 0 0 6px #FFEBCD, 0 0 8px #FFFFE0, 0 0 10px #FFEBCD, 0 0 12px #FFFFE0, 0 0 14px #FFEBCD;
}

to {
text-shadow: 0 0 6px #F5FFFA, 0 0 8px #FFFAFA, 0 0 10px #FFDEAD, 0 0 12px #FFFAFA, 0 0 16px #FFDEAD, 0 0 18px #FFFAFA, 0 0 20px #FFDEAD;
}
}
	
	
	
.switch {

position: relative;
display: inline-block;
width: 34px;
height: 60px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {

position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateY(-26px);
-ms-transform: translateY(-26px);
transform: translateY(-26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
	
table {
margin: 0 auto 0 auto;
}
.poptable {
width : 100%;
}

.board {
display:inline-grid;
padding: 10px;
grid-template-columns: repeat(var(--sizey), 26px);
grid-template-rows: repeat(var(--sizex), 26px);
gap: 4px;
background-color: #777;
margin: auto;
}

.board > * {

width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid #BBB;
user-select: none;
font-size:x-large;
}

.board >  [data-status="hidden"] {
background-color : #BBB;
cursor : pointer;

}



.board >  [data-status="mine"] {
background-color : red;
}

.board >  [data-status="number"] {
background-color : none;
}

.board >  [data-status="marked"] {
background-color : yellow;
}

.marquee{
display:block;
position:relative;
width:1200px;
height:80px;
animation:scroll 15s linear infinite;
padding:3px;
		font-size: 22px;
		letter-spacing: -5px;
}

@keyframes scroll{
0% {left:2400px;}
100% {left:-2400px;}
}



	.vparentpanel{
		width:75%;
		display:inline-block;
		box-sizing: border-box;
		text-align: left;
		overflow-y: hidden;
		overflow-x: hidden;
	}



	/* http://aleclownes.com/2017/02/01/crt-display.html */
	.crt::before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
		z-index: 2;
		background-size: 100% 2px, 3px 100%;
		pointer-events: none;
	  }
	    .crt::after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.1);
		opacity: 0;
		z-index: 2;
		pointer-events: none;
		animation: flicker 0.15s infinite;
	  }

	  .crt {
		filter: blur(0.5px);
	  }

	.invert {
		filter: invert(100%);
	}

	.nightmode {
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff8ce;
	}

	.sunglass{
		filter: saturate(75%) blur(0.3px);
		background-color: #000000;
	}